body {background-color: antiquewhite; width: 600px; margin: auto;}

h1 { text-align: center; border: 3px solid black; 
    margin: 15px;padding: 2px;}

h2 {text-align: center; border: 3px solid black; 
    margin: 15px;padding: 2px;}


p {text-align: center ; border: 3px dashed red; 
    margin: 15px;padding: 2px;}